*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: roboto;
}

button {
    margin-bottom: 16px;
    padding: 4px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 10px solid grey;
    width: 320px;
    height: 320px;
}

.square {
    background-color: #000;
    opacity: 0.0;
}